* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(212, 231, 250);
}

header {
    background-color: #024e76;
    display:flex;
    Justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9999;
}

header h1 {
    color: darkslategray;
    background-color: lightblue;
    margin: 20px 0;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 36px;
}

.header-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
.header-nav ul li {
    margin: 10px;
}
.header-nav ul li a {
    text-decoration: none;
    color: lightblue;
    font-size: large;
}

.hero {
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    min-height: 200px;
    width: 100%;
    background-position: 20%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-text {
    margin-right: 50px;
    margin-bottom: 10px;
    padding: 5px;
    background: lightblue;
}
.hero-text p {
    color: darkslategray;
    font-size: 22px;
    font-weight: bold;
}

