.jumbo {
   background-color: #283044 !important;
   background-image: url('./assets/images/banner.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
   margin-bottom: 0 !important;
   border-radius: 0 !important;
}
