footer {
   background-color:  #283044;
   color: #ffffff;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 2.5rem;
   padding-bottom: 40px;
   margin: 40px;
}

footer a {
   margin: 0px 10px
}